.search .label {
    display: inline-block;
    position: relative;
}

.search .label i.icon-dangdi,
.search .label i.icon-sousuo {
    position: absolute;
    left: 17px;
    top: 5px;
    font-size: 20px;
    z-index: 2;
}

.search .label i.arrow-bottom {
    position: absolute;
    left: auto;
    right: 17px;
    top: 9px;
    font-size: 15px;
}

.search .label select {
    width: 200px;
    border-radius: $border-radius-lg;
    -webkit-appearance: none;
}

.search .label .searchable {
    width: 400px;
    border-radius: $border-radius-lg;
}
.search .v-select .dropdown-toggle{
    border: none;
    padding: 0;
}
.v-select input[type=search],
.v-select input[type=search]:focus{
    margin: 0!important;
    padding: 0 !important;
}
.v-select .vs__actions{
    padding: 0;
}
.dropdown-toggle::after{
    display: none;
}
.v-select .open-indicator:before{
    border-color: rgb(80, 81, 81);
    border-width: 1px 1px 0 0;
}
.v-select .dropdown-toggle .clear{
    font-size: 26px;
    font-weight: 100;
    color: rgb(80, 81, 81);
}
.v-select .selected-tag{
    margin: 0;
}
.v-select .open-indicator{
    margin-top: -5px;
}
@include media-breakpoint-down(md) {
    .searchBox{
        display: none;
    }
}
@include media-breakpoint-down(sm) {
    .search {
        display: block !important;
    }

    .search .label {
        display: block;
        margin: 0 0 10px 0 !important;
    }

    .search .label select,
    .search .label .searchable,
    .search .btn {
        width: 100%;
    }
}
@include media-breakpoint-between(md,lg) {
    .search .label select{
        width: 180px;
    }
    .search .label .searchable{
        width: 250px;
    }
}